header { /*will be reformatted once banner image is added*/
    background-color: black;
    height: 20vh;
}

section {
    background-color: #00991f;
    margin: 0 15% 0 15%;
}

article {
    text-align: center;
}

#fight {
    /*use button styler that was shown in class*/
}

ol {
    display: flex;
    justify-content: space-around;
}

figure {
    width: 100px;
    height: 100px;
    background-size: cover;
}