header { /*will be reformatted once banner image is added*/
    display: flex;
    background-color: black;
    height: 20vh;
    justify-content: center;
}


header img {
    width:50%;
    height:20vh;
    object-fit: cover;
    object-position: 0 45%;
}

section {
    background-color: #00991f;
    margin: 0 15% 0 15%;
}

section article * figure {
    width: 125px;
    height: 125px;
    text-align: center;
    background-color: red;
    /*set css width/height to =thumbnail size*/
}

.character {
    display: flex;
    justify-content: center;
}

ol {
    display: flex;
    justify-content: space-around;
}

aside article * figure { /*changed to be morespecific figure*/
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: blue;
}

#myImage {
    border: solid black 5px; 
    width: 200px; 
    height: 200px;
    margin-top: 10px; 
    }

/* #fight {
    /*use button styler that was shown in class*/
/* } */ 



/*------------------Chris Testing Additions------------------------ */
/* 
body {
    background-color: black;
}

.selectedCharacter {
    border: solid black 5px; 
    width: 200px; 
    height: 200px;
    margin-top: 10px;  
}

.cpuSelected {
    border: solid black 5px; 
    width: 200px; 
    height: 200px; 
    margin-top: 10px; 
}

.characterSelect {
    border: solid black 5px; 
    width: 200px; 
    height: 200px; 
    margin-top: 10px; 

}
.testPic {
    width: 200px; 
    height: 200px; 

    
}

#myImage {
border: solid black 5px; 
width: 200px; 
height: 200px;
margin-top: 10px; 
}
#namePlate {
    color:rgb(255, 255, 255);
    


} */
/*----------------------------------------------------------------- */
