header { /*will be reformatted once banner image is added*/
    display: flex;
    background-color: black;
    height: 20vh;
    justify-content: center;
}


header img {
    width:50%;
    height:20vh;
    object-fit: cover;
    object-position: 0 45%;
    margin-left: auto;
    margin-right: auto;
}

/*instead of cutting the image at smaller screens, the image will shrink*/
@media screen and (max-width:1220px) {header img {
    object-position: center ;
}}

section {
    background-color: #00991f;
    margin: 0 15% 0 15%;
}

#gameplayField article div {
    text-align: center;
}
section article * figure {
    width: 125px;
    height: 125px;
    text-align: center;
    background-color: red;
    /*set css width/height to =thumbnail size*/
}
.character {
    display: flex;
    justify-content: center;
}
#fight {
    display:block;
    margin: auto;
}

#Characters {
    text-align: center;
}



ol {
    display: flex;
    justify-content: space-around;
}
/* 
------------------Chris Testing Additions------------------------ 


aside article * figure { /*changed to be morespecific figure
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: blue;
}

article div {
    display: flex;
    justify-content: center;
}

#myImage {
    border: solid black 5px; 
    width: 200px; 
    height: 200px;
    margin-top: 10px; 
    }

aside{
    text-align: center;
}

.space {
    height: 5px;
}
/* #fight {
    /*use button styler that was shown in class*/
/* } */ 



/*------------------Chris Testing Additions------------------------ */
/* 
body {
    background-color: black;
}

.selectedCharacter {
    border: solid black 5px; 
    width: 200px; 
    height: 200px;
    margin-top: 10px;  
}

.cpuSelected {
    border: solid black 5px; 
    width: 200px; 
    height: 200px; 
    margin-top: 10px; 
}

.characterSelect {
    border: solid black 5px; 
    width: 200px; 
    height: 200px; 
    margin-top: 10px; 

}
.testPic {
    width: 200px; 
    height: 200px; 

    
}

#myImage {
border: solid black 5px; 
width: 200px; 
height: 200px;
margin-top: 10px; 
}
#namePlate {
    color:rgb(255, 255, 255);
    


}
----------------------------------------------------------------- */


figure {
    width: 100px;
    height: 100px;
    background-size: cover;
}


/*----------------------------------------------------------------- */
/* SweetAlert changes*/

/*applies to modal popup window*/

div:where(.swal2-container) div:where(.swal2-popup) {
    width: 50em;
    background: #a3bce4;
    color: white;
}

/*applies to the modal textbox element*/
div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: 20px;
    text-align: center;
}
